# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Maven
target/

# Gradle
.gradle/
build/

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# Mac OS
.DS_Store

# Windows
Thumbs.db
